#include <nrf52840_mdk_nice_nano.dtsi>  // 👈 唯一正确头文件
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &kscan_gpio;
		zmk,matrix_transform = &matrix_transform;
	};

	kscan_gpio: kscan_gpio {
		compatible = "zmk,kscan-gpio";
		label = "GPIO KSCAN";

		// 行：输出低电平扫描
		row-gpios
			= <&gpio0 17 GPIO_ACTIVE_LOW>,
			  <&gpio0 20 GPIO_ACTIVE_LOW>;

		// 列：输入上拉 + 低电平触发（标准键盘！）
		col-gpios
			= <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			  <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
							
		debounce-period = <5>;
	};

	matrix_transform: matrix_transform {
		compatible = "zmk,matrix-transform";
		rows = <2>;
		cols = <2>;
		map = <
			RC(0,0) RC(0,1)
			RC(1,0) RC(1,1)
		>;
	};
};

&adc {
	status = "okay";
};
