#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 第0层（默认层）
            // | 1 | 2 | 3 |
            // | 4 | 5 | 6 |
            // | 7 | 8 | 9 |
            // | ENT | 0 | BSPC |
            bindings = <
                &kp N1    &kp N2    &kp N3
                &kp N4    &kp N5    &kp N6
                &kp N7    &kp N8    &kp N9
                &kp RET   &kp N0    &kp BSPC
            >;
        };

        raise_layer {
            // 第1层（功能层，可通过 &mo 1 或 &lt 触发）
            // | F1 | F2 | F3 |
            // | F4 | F5 | F6 |
            // | F7 | F8 | F9 |
            // | F10| F11| F12|
            bindings = <
                &kp F1    &kp F2    &kp F3
                &kp F4    &kp F5    &kp F6
                &kp F7    &kp F8    &kp F9
                &kp F10   &kp F11   &kp F12
            >;
        };
    };
};
